# ── API ───────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL="http://localhost:4000"
 
# ── Socket (defaults to API_URL if not set) ───────────────────────────────────
# NEXT_PUBLIC_SOCKET_URL="http://localhost:4000"
 
 
# -- Firebase ------------------------------------------------------------------
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCoDuXM05mbFnsPn8hnI1wq4EKXZ2Te5gc"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="development-workspace-f2614.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="development-workspace-f2614"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="development-workspace-f2614.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="921424940474"
NEXT_PUBLIC_FIREBASE_APP_ID="1:921424940474:web:e199e58ed6fb79d8416183"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-7K5GZHF1YE"